{% block pagination %}
    <nav aria-label="Paginate me">
      <ul class="pagination justify-content-center">
        <li class="page-item ">
          <a class="page-link border-2 border-dark bg-secondary link-dark"" href="#" tabindex="-1">Предыдущая</a>
        </li>
        <li class="page-item"><a class="active page-link border-2 border-dark bg-secondary link-dark" href="#">1</a></li>
        <li class="page-item"><a class="page-link border-2 border-dark bg-secondary link-dark"" href="#">2</a></li>
        <li class="page-item"><a class="page-link border-2 border-dark bg-secondary link-dark"" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link border-2 border-dark bg-secondary link-dark"" href="#">Следующая</a>
        </li>
      </ul>
    </nav>
    <br>
{% endblock %}
